---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Glory to the <span class="text-gradient">plan</span></h1>
		<p class="instructions">
			Stuff is coming soon, I promise...
		</p>
		
		<ul role="list" class="link-card-grid">
			<!-- <Card
				href="/sandbox/markdown"
				title="Markdown"
				body="Check out the markdown suppoort."
			/> -->
			<!-- <Card
				href="/sandbox/three"
				title="Three"
				body="Experiment with three.astro"
			/> -->
		</ul>

		<img class="img-squid" src="/sandbox/images/blingus_small.png" />
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	body {
		background: rgb(252,232,255);
		background: radial-gradient(circle, rgba(252,232,255,1) 0%, rgba(175,243,255,1) 85%);
		height: 100vh;
		overflow-y: hidden;
	}

	h1 {
		text-align: center;
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.img-squid {
		margin: auto;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		background: var(--astro-gradient);
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
		text-align: center;
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
