---
import Layout from "../layouts/Layout.astro";
import ThreeScene from "../components/Three/ThreeScene";
import ThreeForeground from '../components/Three/ThreeForeground';
import '../components/Three/ThreeScene.css';
---

<Layout title="Three.js">
    <main>
        <ThreeScene client:load/>
    </main>
</Layout>


<style>
    body {
        color: white;
        background-color: rgb(31, 26, 31);
        height: 3000px;
    }
</style>